# Salin file ini menjadi .env untuk development lokal
# JANGAN commit file .env yang sudah berisi data asli ke GitHub

DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.bsyltelsvxspfqajpqwn
DB_PASS=PESONATEKNIK21
DB_NAME=postgres

SUPABASE_URL=https://bsyltelsvxspfqajpqwn.supabase.co
SUPABASE_KEY=sb_publishable_NJVf4TCwcQVxAseTkE_dUQ_NqE2AZJh
SUPABASE_BUCKET=produk-images

BASE_URL=http://localhost/website_baja
